@font-family-base:  "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-size-base:    14px;
@line-height-base:  1.428571429;
@text-color:        #333333;
@body-bg:           #ffffff;
@link-color:        #428bca;
@link-hover-color:  darken(@link-color, 15%);

@import "assets/dev/bootstrap/dist/css/bootstrap.min.css";
@import "assets/dev/fontawesome/css/font-awesome.min.css";
